/* This styling is applied to the whole website so it can be used for styling like a[visited] etc stuff
 for consistency. To use this file in whole website, global.css must be imported in top level file, layout.tsx */
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
